@import "fonts.css";
@import "vars.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: var(--primary-font-family);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vp-code span {
    color: var(--shiki-light, inherit);
}

