@import 'fonts.css';
@import 'vars.css';
@import 'icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--primary-font-family);
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: var(--text);
}

.dark body {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

/* Buttons and specifics */
.btn-primary {
  @apply rounded-md bg-slate-200 dark:bg-slate-500 p-1 hover:bg-slate-600 shadow-md;
}

.form-input {
  @apply rounded-md p-1 ring-1 text-black;
}

.form-select {
  @apply rounded-md p-1 ring-1 text-black;
}

.sidebar {
  @apply sticky top-0 inline-block items-center justify-center overflow-hidden border p-2 text-xs;
}

.home-image {
  @apply rounded-lg object-contain max-w-80;
}

/* General */
h1 {
  font-size: 2.25em;
  line-height: 2.5rem;
  font-weight: 800;
}

h1,
h2,
h3 {
  letter-spacing: -0.025em;
}

h1,
h2 {
  color: var(--text-strong);
}

.dark h1,
.dark h2 {
  color: var(--text-dark-strong);
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

figcaption {
  font-size: 0.875em;
  margin-top: 0.25em;
  margin-bottom: 1em;
  font-style: italic;
}

strong {
  font-weight: 700;
}

a {
  @apply font-semibold border-b border-b-red-500;
}

.dark a {
  @apply text-white font-semibold border-b border-b-red-500; 
}

a:hover {
  @apply border-b-2;
}




/* PROSE */
.prose {
  color: var(--text);
}
.prose h1,
.prose h2,
.prose h3 {
  letter-spacing: -0.025em;
}
.prose h1 {
  font-weight: 800;
}
.prose h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
.prose h3 {
  font-size: 1.125em;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 0em;
  margin-top: 3em
}

.prose code {
  @apply rounded text-xs;
}

.prose pre {
  @apply rounded p-2;
}

.prose a {
  font-weight: theme('fontWeight.semibold');
  text-decoration: none;
  border-bottom: 1px solid var(--vp-c-text-highlight);
}

.prose a:hover {
  border-bottom-color: var(--vp-c-text-highlight);
  border-bottom-width: 2px;
}

.prose strong {
  color: var(--text-strong);
  font-weight: theme('fontWeight.semibold');
}

.prose figure, 
.prose figurecaption {
  text-align: center;
  font-style: italic;
}

.dark .prose {
  color: var(--text-dark);
}

.dark .prose a {
  color: theme('colors.white');
  font-weight: theme('fontWeight.semibold');
  text-decoration: none;
  border-bottom: 1px solid var(--vp-c-text-highlight);
}

.dark .prose a:hover {
  border-bottom-color: var(--vp-c-text-highlight);
  border-bottom-width: 2px;
}

.dark .prose strong {
  color: var(--text-dark-strong);
}

.dark .prose h1,
.dark .prose h2,
.dark .prose h3 {
  color: var(--text-dark);
}